#----Dependencies----#
node_modules/
.next/
next-env.d.ts
*.tsbuildinfo
npm-debug.log*

#----Enviroment----#
.env*
.env
!.env.example
*.key
*.pem

#----MPC----#
Programs/
Player-Data/

#----HardHat----#
artifacts/
cache/
typechain-types/
coverage/

#----VS and local----#
.DS_Store
.vscode/
.idea/
*.swp
